 .App {
  text-align: center;
}
.letraGrande{
  margin-left: 1.5rem !important;
  font-size: 20px !important;
  color: darkgray;
}

.titulo{
  margin-bottom: 25px;
  height: 120px;
  padding: 35px;
  width: 100%;
  color: darkgray;
  border-bottom: 2px  rgb(237, 174, 201) solid;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  /* gradientes */
  background-image: radial-gradient(white 65%,darkgray);
}

.tituloGrande {
  margin-top: 30px;
  margin-bottom: 0.5rem;
  padding: 10px;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Taviraj', serif;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  color: darkgray;
}

.subTitulo {

  margin-top: 100px;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Taviraj', serif;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  color: darkgray;
}

/* .imgDestacadas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
} */

.img {
      width: 240px;
      height: 260px;
      border-radius: 8px;
      box-shadow: 0px 10px 10px rgb(182, 176, 176);
      object-fit: cover;
      display: flex;
      flex-direction: row;
     
      justify-content: space-around;

      /* tranformaciones animaciones */
      /* &:hover {
          transform:translate(5px, 5px);
          filter: opacity(80%);
          transition: .3s;
      } */
  
  }

.nombreItemCart{
  text-align: justify;
  color:rgb(121, 117, 117);
  font-style: italic;
  line-height: 1.5;
  font-size: 18px;
}
  .imgCart{
    
      width: 100px;
      height: 80px;
      border-radius: 8px;
      box-shadow: 0px 10px 10px rgb(182, 176, 176);
  }

  .textoCentrado {
    padding-top: 5px;
    width: 200px;
    text-align: center;
    color: rgb(121, 117, 117);
    font-style: italic;
    bottom: 15px;
    top: 20px;
    line-height: 1;
    font-size: 20px;
}

.boton {
  
  background-color: rgb(243, 153, 192) !important;
  color: dimgray !important;
  border: 0.5px darkgray solid !important;
  border-radius: 5px;
  width: 105px;
  height: 40px;
  padding: 3px;
  margin-left: 60PX;
  justify-items: flex-end;
  /* margin-bottom: 5px; */
  margin-right: 5px !important; 
  margin-top: 10px !important;
  
}

.imgItem {
  width: 342px;
  height: 342px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px rgb(182, 176, 176);
}

.estiloTexto {

  padding-right: 20px;
  margin: 15px;
  padding-top: 10px;
  width: 400px;
/* height: 315px;   */
  text-align: justify;
  color: darkgray;
  font-style: italic;
  line-height: 1.5;
  font-size: 18px;
}
.subTitulo {
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 5px;
  color: dimgray;
  text-align: center;
  font-style: italic;
  font-weight: normal
}

.loginScreen{
  width: 100%;
  height: 100vh;
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;

}

.login{
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  background-color: antiquewhite;

}

.error{
  font-size: 16px ;
  color:red ;
  font-weight: 700;

}

.cart-widget{
  color:darkgray;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out all;
  
}

.cart-widget-active{
  visibility: visible;
  opacity: 1;
}

/*Estilos Footer*/

.footer {
  grid-area: footer;
  border-top: 2px rgb(226, 212, 218) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  /* gradientes */
  background-image: linear-gradient(to top, rgb(237, 174, 201), rgb(226, 212, 218));
}
.imgPago {
      width: 160px;
      height: 50px;
  }

  .textoChico {
      font-size: 10px;
      color: black;
      position: relative;
      top: 10px;
      margin-left: 10px;
      margin-bottom: 5px;
  }

  .imgRedes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 30px;
      width: 30px;
      margin: 10px;
  }






  .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p{
  margin-left: 190px;
  font-size:20px;
  color: rgb(26, 25, 25);
  margin-bottom: 1px !important;


}
.card-body .parrafo{
  margin-left: 0px;
  background-color: aliceblue;
  color: grey;
}
.carrito{
  text-align: end;
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
